svg {
  width: 85vw;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body {
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

p {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Antonio", sans-serif;
  letter-spacing: 0.01em;
}
.P{
  font-size: 23px;
  font-family: fantasy;
  text-align: center;
  text-decoration: none;
  background: red;
  padding: 23px 23px;
  border-radius: 9px;
  margin: 23px 23px;
  margin-top: 23px;
  color: aliceblue;
}